.Home__search {
  display: flex;
  margin-bottom: 16px;
}

.Home__search input {
  width: 100%;
  padding: 6px 10px;
  margin-right: 12px;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  border: 1px solid #ddd;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: inset;
}

.Home__search input:focus {
  outline: none;
}

.Home__search button {
  color: #f1356d;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.Home__search button:focus {
  outline: none;
}

.Home__contents {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(180px, auto);
  grid-gap: 16px;
}

@media screen and (min-width: 760px) {
  .Home__contents {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(180px, auto);
    grid-gap: 16px;
  }
}

.Home__loading_contents {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(180px, auto);
  grid-gap: 16px;
}

@media screen and (min-width: 760px) {
  .Home__loading_contents {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(180px, auto);
    grid-gap: 16px;
  }
}

.Home__button {
  margin-bottom: 16px;
  text-align: center;
}

.Home__button button {
  min-width: 100px;
  margin-top: 16px;
  color: #f1356d;
  font-weight: 500;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.Home__button button:focus {
  outline: none;
}
