.Header {
  height: 60px;
  background-color: #f1356d;
}

.Header__contents {
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header__contents h1 {
  color: #ffffff;
}
