.Header {
  height: 60px;
  background-color: #f1356d;
}

.Header__contents {
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header__contents h1 {
  color: #ffffff;
}

/* .Header__contents input {
  min-width: 300px;
  padding: 6px 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  border-radius: 4px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.Header__contents input:focus {
  outline: none;
} */
