.NavBar {
  margin-bottom: 16px;
}

.NavBar a {
  color: #f1356d;
  padding: 4px 8px;
  margin-right: 16px;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.NavBar a:hover {
  color: #ffffff;
  background-color: #f1356d;
}
