@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: 'Quicksand';
  color: #333;
}
a {
  text-decoration: none;
}
.content {
  max-width: 720px;
  margin: 40px auto;
  padding: 20px;
}
::placeholder {
  color: s#333333;
  opacity: 0.5;
}
